<body>
    <div class="login-form">
        <form action="/signin" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" class="login-input" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="login-input" required>

            <button type="submit" class="login-button">Login</button>
        </form>
    </div>
</body>

</html>